language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm
    - hhvm-nightly

matrix:
    allow_failures:
        - php: hhvm-nightly
    fast_finish: true

before_script:
    - composer install --prefer-source
    - printf "\n" | pecl install yaml-beta
    - echo "extension=yaml.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

script: ./vendor/bin/phpunit --coverage-text

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/ebaba92b4cc7bca39419
    on_success: always
    on_failure: always
    on_start: false
